@model IEnumerable<RemcSys.Models.ActionLog>
@{
    Layout = "_NavChief1";

    ViewData["Title"] = "Notification";
}

<div class="notifications-container">
    <div class="notifications-header">
        <h1>Notifications</h1>
        <hr />
    </div>

    @if(Model != null && Model.Any())
    {
        @foreach (var log in Model)

        {

            string linkUrl = "";



            // Determine the URL based on the ResearchType

            if (log.ResearchType == "University Funded Research" && log.Action.Contains("submitted"))

            {
                linkUrl = "UFResearchApp";
            }

            else if (log.ResearchType == "Externally Funded Research" && log.Action.Contains("submitted"))

            {
                linkUrl = "EFResearchApp";
            }

            else if (log.ResearchType == "University Funded Research Load" && log.Action.Contains("submitted"))

            {
                linkUrl = "UFRLApp";
            }

            else if (log.ResearchType == "University Funded Research" && (log.Action.Contains("uploaded the Progress Report") ||
            log.Action.Contains("uploaded the Terminal Report") || log.Action.Contains("uploaded the Liquidation Report")))
            {
                linkUrl = "UniversityFundedResearch";
            }

            else if (log.ResearchType == "Externally Funded Research" && (log.Action.Contains("uploaded the Progress Report") ||
            log.Action.Contains("uploaded the Terminal Report") || log.Action.Contains("uploaded the Liquidation Report")))
            {
                linkUrl = "ExternallyFundedResearch";
            }

            else if (log.ResearchType == "University Funded Research Load" && (log.Action.Contains("uploaded the Progress Report") ||
            log.Action.Contains("uploaded the Terminal Report") || log.Action.Contains("uploaded the Liquidation Report")))
            {
                linkUrl = "UniversityFundedResearchLoad";
            }

            else if (log.ResearchType == "University Funded Research" && log.Action.Contains("already evaluated"))
            {
                linkUrl = "UEResearchApp";
            }

            <a href="@linkUrl" class="notification-link">
                <div class="notification-card">
                    <span class="notification-text">
                        <b>@log.ResearchType:</b> @log.Action
                    </span>
                    <span class="notification-time">@ActionLog.GetTimeAgo(log.Timestamp)</span>
                </div>
            </a>
        }
    }
    else
    {
        <p>No Notification yet.</p>
    }
</div>
