@{
    ViewData["Title"] = "GAWAD Tuklas";
    Layout = "_NavChief1";
}

<h1>GAWAD Tuklas</h1>
<h3>Generate Nominees</h3>
<p>
    <a asp-action="GawadTuklas">GAWAD Tuklas</a>
    <a asp-action="GawadLathala">GAWAD Lathala</a>
    <a asp-action="GawadWinners">GAWAD Winners</a>
</p>
