@{
    ViewData["Title"] = "GAWAD Winners";
    Layout = "_NavChief1";
}

<h1>GAWAD Winners</h1>
<h3>Upload Past GAWAD Winners (both Tuklas and Lathala)</h3>
<p>
    <a asp-action="GawadTuklas">GAWAD Tuklas</a>
    <a asp-action="GawadLathala">GAWAD Lathala</a>
    <a asp-action="GawadWinners">GAWAD Winners</a>
</p>