@{
    ViewData["Title"] = "Generate Reports";
    Layout = "_NavChief1";
}

<div class="generate-report-container">
    <div class="report-categories">
        <a href="/Chief/GenerateReport" class="report-category generate">
            <h3>Generate Report</h3>
        </a>
        <a href="/Chief/ArchivedReport" class="report-category submit">
            <h3>Archived Report </h3>
        </a>
    </div>
    <hr />
    <div class="category-dropdown">
        <select id="specialization" class="category-select">
            <option value="" disabled selected>Select Report Type...</option>
            <option value="OngoingUFR">Total Ongoing University Funded Research</option>
            <option value="OngoingEFR">Total Ongoing Externally Funded Research</option>
            <option value="OngoingUFRL">Total Ongoing University Funded Research Load</option>
            <option value="" disabled>Total Completed University Funded Research</option>
            <option value="CompletedEFR" disabled>Total Completed Externally Funded Research</option>
            <option value="" disabled>Total Completed University Funded Research Load</option>
            <option value="" disabled>Summary of Amount in University Funded Research</option>
            <option value="" disabled>Summary of Amount in Externally Funded Research</option>
            <option value="" disabled>Summary of Amount in University Funded Research-Load</option>
            <option value="ResearchProduction">Research Production</option>
        </select>
    </div>

    <div class="date-wrapper">
        <div class="date-container">
            <div class="date-group">
                <label for="startDate">Start Date</label>
                <input type="date" id="startDate" class="date-input">
            </div>
            <div class="date-group">
                <label for="endDate">End Date</label>
                <input type="date" id="endDate" class="date-input">
            </div>
        </div>
        <button class="generate-btn">Generate Report</button>
    </div>
</div>

<script>
    const today = new Date().toISOString().split('T')[0];
    document.getElementById("startDate").setAttribute("max", today);
    document.getElementById("endDate").setAttribute("max", today);

    document.querySelector('.generate-btn').addEventListener('click', function(){
        const reportType = document.getElementById("specialization").value;
        const startDate = document.getElementById("startDate").value;
        const endDate = document.getElementById("endDate").value;

        if (reportType && startDate && endDate) {
            const url = `/Chief/GenerateReports?reportType=${reportType}&startDate=${startDate}&endDate=${endDate}`;
            window.location.href = url;
        }
        else {
            alert("Please select all the necessary fields.");
        }
    })
</script>