body {
    background-color: #808080;
    font-family: Arial, sans-serif;
}

/* Button styles */
.button-container {
    margin-bottom: 20px;
}

.gawad-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 15px;
    background-color: white;
    color: #8B0000; /* Dark red for text */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid #8B0000; /* Border matching the hover color */
}

    .gawad-button:hover {
        background-color: #8B0000; /* Dark red on hover */
        color: white;
    }

    /* Active state for the current page */
    .gawad-button.active {
        background-color: #8B0000; /* Dark red */
        color: white; /* White text */
    }
