@{
    ViewData["Title"] = "Evaluator";
    Layout = "_NavEvaluator";
}

<div class="hero-section">
    <h1>RESEARCH EVALUATION AND MONITORING CENTER</h1>
    <p>The REMC monitors the implementation of the approved internally and externally funded research projects. It also assists in the preparation of programs designed towards the development of national and international relations.</p>
    <div class="apply-button d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-danger btn-lg" asp-controller="Evaluator" asp-action="EvaluatorDashboard">Get Started</a>
    </div>
</div>