@{
    ViewData["Title"] = "Apply for Funded Research";
    @if (ViewBag.Pending == true || ViewBag.Submitted == true)
    {
        @if(ViewBag.Pending == true)
        {
            Layout = "_NavFaculty3";
        }
        else
        {
            Layout = "_NavFaculty2";
        }
    }
    else
    {
        Layout = "_NavFaculty";   
    }
}
<div class="hero-section">
    <h1>RESEARCH EVALUATION AND MONITORING CENTER</h1>
    <p>The REMC monitors the implementation of the approved internally and externally funded research projects. It also assists in the preparation of programs designed towards the development of national and international relations.</p>
    <div class="apply-button d-grid gap-2 col-6 mx-auto">
        @if(ViewBag.Pending == true)
        {
            <a class="btn btn-danger btn-lg" asp-controller="FundedResearchApplication" asp-action="GeneratedDocuments">PROCEED</a>
        }
        else if(ViewBag.Submitted == true)
        {
            <a class="btn btn-danger btn-lg" asp-controller="FundedResearchApplication" asp-action="ApplicationTracker">PROCEED</a>
        }
        else
        {
            <a class="btn btn-danger btn-lg" asp-controller="Home" asp-action="Forms">APPLY</a>
        }
    </div>
</div>
