@model List<InternalDocument>
@{
    Layout = "_NavTeamLeader";
}
<div class="container">
    <!-- List of Documentary Requirements -->
    <div class="document-section">
        <h5>List of Executive Orders</h5><hr />
        <p>These documents should be read if you’re applying Funded Research Work.</p>
        <ul class="doc-list">
            @if (ViewBag.exec != null)
            {
                @foreach (var file in ViewBag.exec)
                {
                    <li>
                        <a class="btn" onclick="showDocument('@file.FilePath')"><i class="bi bi-file-pdf" style="margin-right: 10px;"></i>@file.FileName</a>
                    </li>
                }

            }
        </ul>
    </div>
</div>

<a class="proceed-btn" href="@Url.Action("FRType", "Home")">Proceed</a>

<script type="text/javascript">
    function showDocument(filePath) {
        const newTab = window.open("/" + filePath, '_blank');
        newTab.focus();
    }
</script>
