@{
    ViewData["Title"] = "Funded Research Type";
}

<div class="text-center">
    <h1 class="display-4">Select Research Type</h1>
    <a class="btn" style="background-color: red; color: white;" href="@Url.Action("Eligibility", "Home", new { type = "UFR"})">University Funded Research</a>
    <a class="btn" style="background-color: red; color: white;" href="@Url.Action("Eligibility", "Home", new { type = "EFR" })">Externally Funded Research</a>
    <a class="btn" style="background-color: red; color: white;" href="@Url.Action("Eligibility", "Home", new { type = "UFRL" })">University Funded Research Load</a>
</div>