@{
    ViewData["Title"] = "Apply for Funded Research";
}

<div class="text-center">
    <h1 class="display-4">RESEARCH EVALUATION AND</h1>
    <h1 class="display-4">MONITORING CENTER</h1>
    <p>The REMC monitors the implementation of the approved internally and</p>
    <p>externally funded research projects. It also assists in the preparation of</p>
    <p>program designed towards the development of national and</p>
    <p>international relations.</p>

    <a class="btn" style="background-color: red; color: white;" asp-controller="Home" asp-action="FRType">Apply</a>
</div>