body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 5px;
}

.form-control, .btn {
    border-radius: 5px;
}

.bg-danger {
    background-color: #850000 !important;
}

.btn-warning {
    background-color: #FFDB89;
    color: #850000;
    font-weight: bold;
}

.btn-secondary {
    background-color: #888;
}

.dropdown-container {
    position: relative;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    color: #333;
    padding-right: 30px;
}

.arrow-down {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
}
