body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent body from scrolling outside of the container */
}

.document-management-container {
    margin-top: 20px;
}

dts_edit-button {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dts_edit-button:focus {
    outline: 2px solid #850000;
}

.dts_edit-button:hover {
    background-color: #850000;
    color: #FFF;
}

.withdraw-btn {
    float: right;
    margin-bottom: 20px;
    width: auto;
    font-weight: 500;
}

.document-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .document-table th,
    .document-table td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: center;
    }

    .document-table th {
        background-color: #850000;
        color: white;
        font-weight: bold;
    }

.status-button {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

    .status-button:focus {
        outline: 2px solid #F2F2F2;
    }

    .status-button:hover {
        color: #F2F2F2;
    }


.status {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: 500;
}

    .status.pending {
        background-color: #727272;
        width: 90%;
        color: #FFF;
    }

    .status.compliance {
        background-color: #DBBF1B;
        width: 80%;
        color: #FFF;
    }

.feedback-button {
    background-color: transparent;
    border: none;
    color: #850000;
    font-size: 25px;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
}

    .feedback-button:focus {
        outline: 2px solid #cc4141
    }

    .feedback-button:hover {
        color: #cc4141;
    }

.status.approved {
    background-color: #0D6B4A;
    width: 90%;
    color: #FFF;
}

button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.delete-btn {
    background-color: transparent;
    border-radius: 5px;
    color: #850000;
    padding: 5px 20px;
    margin-left: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

    .delete-btn:hover {
        background-color: #850000;
        color: #FFFFFF;
    }

    .delete-btn:focus {
        outline: 2px solid #850000;
    }

    .delete-btn i {
        font-size: 20px;
    }

.choose-file-btn {
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 20px;
    margin-left: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

    .choose-file-btn:hover {
        background-color: #D3D3D3;
    }

.submit-button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.resubmit-btn {
    padding: 5px 20px;
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    color: #008CFF;
    border-radius: 10px;
}

    .resubmit-btn:hover {
        background-color: #008CFF;
        color: #fff;
    }

    .resubmit-btn i {
        font-size: 18px;
        margin-right: 10px;
    }


.back-btn {
    text-decoration: none;
    background-color: #850000;
    color: #FFF;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    float: right;
    margin-bottom: 50px;
}

.withdraw-btn {
    background-color: #800000;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}

/*Popup Styles*/
.feedback {
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

.card1 {
    overflow: hidden;
    position: relative;
    background-color: #850000;
    text-align: center;
    border-color: #000;
    border-radius: 1rem;
    width: 520px;
    height: 450px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card2 {
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #420000;
    text-align: left;
    border-color: #000;
    border-radius: 1rem;
    width: 470px;
    height: 320px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    margin-top: 20px;
    margin-bottom: 15px;
}

    .card2 p {
        color: #fff;
        font-size: 16px;
        margin: 10px 0;
        margin-left: 10px;
    }

.fdismiss {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #850000;
    color: white;
    border: 2px solid #D1D5DB;
    font-size: 25px;
    font-weight: 300;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    transition: .3s ease;
}

    .fdismiss:hover {
        background-color: #420000;
        border: 2px solid #420000;
        color: #fff;
    }


.title {
    padding: 1.25rem 1rem 1rem 1rem;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.status_tag {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

.card3 {
    overflow: hidden;
    position: relative;
    background-color: #850000;
    text-align: center;
    border-color: #000;
    border-radius: 1rem;
    width: 520px;
    height: 350px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card4 {
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #420000;
    text-align: left;
    border-color: #000;
    border-radius: 1rem;
    width: 470px;
    height: 250px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    margin-top: 20px;
    margin-bottom: 15px;
}

    .card4 li {
        padding: 6px 12px;
        font-weight: 500;
    }

.sstatus.pending, .sstatus.compliance, .sstatus.approved {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30px;
    color: #FFF;
    border-radius: 5px;
    text-align: center;
}

.sstatus.pending {
    margin-top: 5px;
    background-color: #727272;
}

.sstatus.compliance {
    background-color: #DBBF1B;
}

.sstatus.approved {
    background-color: #0D6B4A;
}


.sdismiss {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #850000;
    color: white;
    border: 2px solid #D1D5DB;
    font-size: 25px;
    font-weight: 300;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    transition: .3s ease;
}

    .sdismiss:hover {
        background-color: #420000;
        border: 2px solid #420000;
        color: #fff;
    }

/*warning pop-up*/
.warning_section {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

.card5 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    text-align: left;
    border: 2px solid #000;
    border-radius: 1rem;
    width: 400px;
    height: 350px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}


.wtitle {
    background-color: #ffffff;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.wsubmit-btn {
    position: absolute;
    background-color: #FFDB89;
    color: #850000;
    bottom: 30px;
    right: 20px;
    font-size: 20px;
    width: 150px;
    height: 50px;
    font-weight: 500;
    border: 1px #FFDB89;
    border-radius: 5px;
    text-align: center;
}

.wback-btn {
    position: absolute;
    background-color: #850000;
    color: #FFF;
    bottom: 30px;
    left: 20px;
    font-size: 20px;
    width: 150px;
    height: 50px;
    font-weight: 500;
    border: 1px #850000;
    border-radius: 5px;
}

/*Additional style*/
.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.file-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.choose-file-btn {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.file-name {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

    .file-name.no-file {
        cursor: default;
        color: inherit;
        text-decoration: none;
    }
