@{
    ViewData["Title"] = "Evaluation Result";
    Layout = "_NavTeamLeader";
}

<div class="document-management-container">
    <h1 class="my-4">Evaluation Result</h1>

    <div class="eval-info">
        <h2><b>Evaluator:</b> Evaluator's Name</h2>
        <p><b>Field of Study:</b> Field of Study</p>
    </div>
    <table class="document-table">
        <thead>
            <tr>
                <th>Document Title</th>
                <th>Comments/Suggestions</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Capsulized Research Proposal Template</td>
                <td>*insert feedback from the Evaluator* </td>
                <td></td>
            </tr>
            <tr>
                <td>Form 1 Terms of Reference</td>
                <td>*insert feedback from the Evaluator* </td>
                <td></td>
            </tr>

            <tr>
                <td>Form 2 Line-Item Budget</td>
                <td>*insert feedback from the Evaluator* </td>
                <td></td>
            </tr>
            <tr>
                <td>Form 3 Schedule of Outputs/Tranche Release</td>
                <td>*insert feedback from the Evaluator* </td>
                <td></td>
            </tr>
            <tr>
                <td>Form 4 Workplan</td>
                <td>*insert feedback from the Evaluator* </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="color:#850000;">Grand Total%</td>
            </tr>
        </tbody>
    </table>
    <button class="back-btn">Back</button>
</div>