html, body {
    overflow: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.document-section {
    width: 45%;
    background-color: #F8F8F8;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h5 {
    color: #850000;
    text-align: center;
    font-weight: bold;
}

p {
    color: #FDB000;
    font-style: italic;
}

.doc-list {
    list-style-type: none;
    padding: 0;
}

    .doc-list li .btn {
        background-color: #800000;
        color: #fff;
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

        .doc-list li .btn:hover {
            background-color: #a52a2a;
        }


.doc-description {
    color: #FDB000;
    font-style: italic;
    font-size: 0.9em;
}

.proceed-btn {
    background-color: #FFDB89 !important;
    width: 100px;
    border: none;
    padding: 15px;
    color: #850000;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 30px auto 0 auto;
    margin-bottom: 20px;
    font-weight: 500;
}

    .proceed-btn:hover {
        background-color: #d2691e;
    }
