@model List<string>
@{
    ViewData["Title"] = "Generated Docuements";
    Layout = "_NavTeamLeader";
}
<div class="container">
    <!-- List of Generated Forms -->
    <div class="document-section">
        <h5>Generated Documents</h5><hr />
        <p>Click the forms below to download it.</p>
        <ul class="doc-list">
            @foreach (var file in Model)
            {
                <li>
                    <a class="btn" href="@Url.Action("Download2", "FundedResearchApplication", new { fileName = file })">
                        @file
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

<a class="proceed-btn" href="@Url.Action("UploadFile", "FundedResearchApplication")">Proceed</a>
