body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent body from scrolling outside of the container */
}

h1, h3 {
    margin-top: 20px;
    color: #850000;
}

h2 {
    color: #000000;
}

h6 {
    font-size: 14px;
    font-style: italic;
}

p {
    margin: 10px 20px 50px;
}

.research-info {
    margin-top: 20px;
    background-color: #F8F8F8;
    margin-bottom: 20px;
}

.upload-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.upload-section {
    background-color: #F8F8F8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    flex: 3;
    margin-right: 30px;
}

.file-upload-section {
    flex: 1;
    text-align: center;
    background-color: #F8F8F8;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

hr {
    margin-bottom: 5px;
}

.upload-btn {
    background-color: white;
    color: #850000;
    padding: 10px 45px;
    border-radius: 10px;
    border: 2px solid #850000;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 15px;
}

    .upload-btn:hover {
        background-color: #f9f9f9;
    }

.upload-icon {
    margin-right: 5px;
    font-size: 16px;
}

.submit-btn {
    width: 80%;
    background-color: #850000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

    .submit-btn:hover {
        background-color: #8b1a1a;
    }

.attachments {
    margin-top: 20px;
    text-align: center;
    color: #777;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    color: #b22222;
    text-decoration: none;
}

/*Additional File*/

.file-input {
    font-weight: 500;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    color: black;
}

label {
    display: inline-block;
    width: 300px;
    margin-right: 10px;
}

input[type="file"] {
    margin-right: 30px;
}

.file-name {
    margin-right: 10px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

#addFileBtn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.remove-file {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 2px 6px;
    cursor: pointer;
    border-radius: 3px;
}

.preview-btn {
    background-color: white;
    color: blue;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid blue;
}

    .preview-btn:hover {
        background-color: blue;
        color: white;
    }

    .preview-btn:disabled {
        background-color: lightgray;
        border: none;
        color: gray;
        cursor: not-allowed;
    }


/*warning pop-up*/
.warning_section {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

.card {
    display: relative;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    text-align: left;
    border: 2px solid #000;
    border-radius: 1rem;
    width: 400px;
    height: 380px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.title {
    background-color: #ffffff;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.wback-btn {
    position: absolute;
    background-color: #850000;
    color: #FFF;
    bottom: 25px;
    left: 20px;
    font-size: 20px;
    width: 150px;
    height: 50px;
    font-weight: 500;
    border: 1px #850000;
    border-radius: 5px;
}

.wsubmit-btn {
    position: absolute;
    background-color: #FFDB89;
    color: #850000;
    bottom: 25px;
    right: 20px;
    font-size: 20px;
    width: 150px;
    height: 50px;
    font-weight: 500;
    border: 1px #FFDB89;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    line-height: 50px;
}
