@model IEnumerable<GeneratedForm>
@{
    Layout = "_NavTeamLeader4";
}
<div class="application-requirements">
    <h1>Upload Progress Report #1</h1>

    <div class="research-info">
        <h2><b>Research Title:</b> @ViewBag.Research</h2>
        <h6><b>Proponents:</b><br />@ViewBag.Lead
            @if (!ViewBag.Members.Contains("N/A"))
            {
                @foreach (var member in ViewBag.Members)
                {
                    <br />
                    @member
                }
            }
        </h6>
    </div>
    
    <div class="upload-container">
        <!-- Your Attachments -->
        <div class="upload-section">
            <h4>Progress Report Template</h4>
            <p>Kindly download it for your reference.</p>
            @foreach(var doc in Model)
            {
                <a class="btn-outline-secondary" href="@Url.Action("Download", "ProgressReport", new {id = doc.Id})">
                    @doc.FileName
                </a>
            }<hr />
            <p><b>NOTE:</b> Please follow the file naming format (Ex: Report Progress # - ResearchTitle)</p>

            <div class="attachments">
                <p>No Attachments</p>
            </div>
        </div>

        <!-- Upload and Submit button -->
        <div class="file-upload-section">
            <h3>Your Uploads</h3><hr />
            <label for="fileUpload" class="upload-btn">
                <span class="upload-icon">+</span> Upload Files
            </label>
            <input type="file" id="fileUpload" name="files" accept=".pdf" style="display:none;" required>

            <button type="submit" class="submit-btn">SUBMIT REPORT</button>
        </div>
    </div>
</div>

<!-- Warning Pop-up -->
<div class="warning_section">
    <div class="card">
        <i class="bi bi-exclamation-circle-fill" style="font-size: 100px; color:#850000; text-align: center;"></i>
        <span class="title">Please review all information before submitting.</span>
        <div class="d-grid gap-3 col-14 mx-auto">
            <p>Changes may not be possible after submission.</p>
        </div>
        <a class="wsubmit-btn" href="/Home/ApplicationSuccess"
           style="position: absolute; background-color: #FFDB89;color: #850000; bottom: 10px;right: 10px;font-size: 20px;width: 150px;height: 50px;font-weight: 500;border: 1px #FFDB89;border-radius: 5px; text-align: center; margin-top: 10px;line-height: 50px;"> Submit</a>
        <button class="wback-btn">Back</button>
    </div>
</div>

<script>
    document.querySelector('.submit-btn').addEventListener('click', function () {
        document.querySelector('.warning_section').style.display = 'block';
    });

    document.querySelector('.wback-btn').addEventListener('click', function () {
        document.querySelector('.warning_section').style.display = 'none';
    });
</script>