@{
    ViewData["Title"] = "Funded Research Progress Reports";
    Layout = "_NavEvaluator1";
}

<div class="dashboard-evaluator">
    <header class="search-bar">
        <input type="text" placeholder="Search">
        <i class="bi bi-search" style="font-size: 30px; color: #850000;"></i>
    </header>
    <div class="welcome-section">
        <h2>Welcome,</h2>
        <h1>Evaluator!</h1>
    </div>

    <div class="row justify-content-end" style="margin-bottom: 30px;">
        <div class="col-md-3 col-sm-6">
            <div class="card bg-white">
                <div class="card-body text-center">
                    <h2 class="text">1,234</h2>
                    <p class="mb-0 text"><strong>TOTAL</strong></p>
                </div>
                <div class="card-footer justify-content-center text-center Peval">
                    University<br />Funded Research
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card bg-white">
                <div class="card-body text-center">
                    <h2 class="text">345</h2>
                    <p class="mb-0 text"><strong>TOTAL</strong></p>
                </div>
                <div class="card-footer justify-content-center text-center Meval">
                    Externally<br />Funded Research
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card bg-white">
                <div class="card-body text-center">
                    <h2 class="text">100</h2>
                    <p class="mb-0 text"><strong>TOTAL</strong></p>
                </div>
                <div class="card-footer justify-content-center text-center Eeval">
                    University Funded<br />Research-Load
                </div>
            </div>
        </div>
    </div>

    <div class="upcoming-deadlines">
        <h2>Upcoming Deadline</h2>
        <div class="deadline">
            <p><b>Evaluate:</b> DTS No: 0000-1234</p>
            <span class="due-date">08/20 DUE</span>
        </div>
        <div class="deadline">
            <p><b>Evaluate:</b> DTS No: 0000-1234</p>
            <span class="due-date">08/20 DUE</span>
        </div>
        <div class="deadline">
            <p><b>Evaluate:</b> DTS No: 0000-1234</p>
            <span class="due-date">08/20 DUE</span>
        </div>
        <div class="deadline">
            <p><b>Evaluate:</b> DTS No: 0000-1234</p>
            <span class="due-date">08/20 DUE</span>
        </div>
    </div>
</div>
